/*------------------------------------*\
  $ICON
\*------------------------------------*/

@font-face {
  font-family: 'VFAIcons';
  src:url('../fonts/vfaicons/vfaicons.eot?u15asa');
  src:url('../fonts/vfaicons/vfaicons.eot?#iefixu15asa') format('embedded-opentype'),
      url('../fonts/vfaicons/vfaicons.woff?u15asa') format('woff'),
      url('../fonts/vfaicons/vfaicons.ttf?u15asa') format('truetype'),
      url('../fonts/vfaicons/vfaicons.svg?u15asa#vfaicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons: (
//Name            Content (Unicode)
  user:            "\e600",
  arrow-up:        "\e601",
  arrow-left:      "\e602",
  arrow-right:     "\e603",
  arrow-down:      "\e604",
  article:         "\e605",
  bookmark-fill:   "\e606",
  bookmark:        "\e607",
  cross:           "\e608",
  magnifier-large: "\e609",
  magnifier:       "\e60a",
  menu:            "\e60b",
  print:           "\e60c",
  rocket:          "\e60d",
  box:             "\e60e",
  article-light:   "\e60f"
);

.icon:before,
.icon:after {
  @extend %icon;
}

.icon--small {
  &:before {
    font-size: 18px;
  }
}

.icon--medium {
  &:before {
    font-size: 32px;
  }
}

.icon--stable {
  .icon__path {
    fill: $positive;
  }
}

@each $icon-name, $icon-content in $icons {
  .icon--#{$icon-name}:before {
    content: $icon-content;
  }
}
