/*------------------------------------*\
    $FIELD
\*------------------------------------*/

.field--photo-meta {
  font-family: $font-family-serif;
  font-size: $font-size-xsmall;
  padding: $padding-half 0;
  color: $charcoal-light;
}
