/*------------------------------------*\
    $FLOW-LIST
\*------------------------------------*/

.flow-list {

}

.flow-list__item {
    line-height: $line-height-base;
    border-bottom: 1px solid $stable;
    padding-bottom: $padding-half;
}

.item__header {

}

.item__text {

}
