/*------------------------------------*\
    $MEDIA OBJECTS
\*------------------------------------*/

img, video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  margin-bottom: $padding-base;
}

figure {
  margin-bottom: $padding-base;

  img {
    margin-bottom: $padding-half;
  }
}

figcaption {
  font-style: italic;
}

.media-element-container {
  line-height: 1;

  > img {
    vertical-align: bottom;
  }
}

/* This ensures nice elastic videos. */
.media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: $padding-base;

  iframe,
  object,
  embed {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
